<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>Timetable</title>
</head>
<body>
    <h4 style="color: #28104E;">Time Table</h4>
    <table class="center" cellspacing: 0; align="center" ;>
        <tr>
            <td>
                <br>
                <b>Day/Period</b>
            </td>
            <td>
                <b>I<br>9:30-10:20</b>
            </td>
            <td>
                <b>II<br>10:20-11:10</b>
            </td>
            <td>
                <b>III<br>11:10-12:00</b>
            </td>
            <td>
                <b>12:00-12:40</b>
            </td>
            <td>
                <b>IV<br>12:40-1:30</b>
            </td>
            <td>
                <b>V<br>1:30-2:20</b>
            </td>
            <td>
                <b>VI<br>2:20-3:10</b>
            </td>
            <td>
                <b>VII<br>3:10-4:00</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Monday</b>
            </td>
            <td>PE</td>
            <td>NT</td>
            <td>DSD</td>
            <td rowspan="6">
                <h4>L<br>U<br>N<br>C<br>H</h4>
            </td>
            <td>COA</td>
            <td>NT</td>
            <td>M3</td>
            <td>DSD</td>
        </tr>
        <tr>
            <td>
                <b>Tuesday</b>
            </td>
            <td colspan="3">
                DSD LAB
            </td>
            <td>DSD</td>
            <td>COA</td>
            <td>PE</td>
            <td>SPORTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Wednesday</b>
            </td>
            <td>NT</td>
            <td>M3</td>
            <td>COA</td>
            <td>ED</td>
            <td colspan="3">
                LIBRARY
            </td>
        </tr>
        <tr>
            <td>
                <b>Thursday</b>
            </td>
            <td>ED</td>
            <td>PE</td>
            <td>M3</td>
            <td colspan="3">
                DSD LAB
            </td>
            <td>COA</td>
        </tr>
        <tr>
            <td>
                <b>Friday</b>
            </td>
            <td colspan="3" align="center"
                height="50">
                ED LAB
            </td>
            <td>M3</td>
            <td>PE</td>
            <td>DSD</td>
            <td>COA</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Saturday</b>
            </td>
            <td>ED</td>
            <td>DSD</td>
            <td>PE</td>
            <td colspan="3">
                SEMINAR
            </td>
            <td>SPORTS</td>
        </tr>

    </table>
</body>
</html>

